*.*~
*.db
.Rhistory

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/dist
*/gensrc
*/genlib
*/classes
*/$*

# hpcc server credentials
./i2b2/GIRIXScripts/lib/i2b2.crc.config_hpcc.r
