<?xml version="1.0" encoding="UTF-8"?>
<reportconf:Rscriptlet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:reportconf="http://www.i2b2.org/xsd/cell/reportconf/1.0/">
	<settings>
		<title>Kaplan-Meier</title>
		<description>
			Usage information: Drag and drop exactly one risk concept (e.g. a cancer diagnose) on the "Concept 1" field. Afterwards a "Concept 2" field will appear. Please use this "Concept 2" field to drag and drop exactly one target concept (e.g. deceased) on it. Then drag and drop as many patient sets you wish to compare among each other on the left fields. In doing so make sure that all members of this set have the risk concept. 
			Example: Use the query tool to obtain patient set A "All female patients having breast cancer and being older than 50 years" and patient set B 
			"All female patients having breast cancer and being younger than 50 years". Drag and drop these patient sets from the "Previous Query" box left below to the left fields below in the scriptlet window. Then drag and drop "Breast cancer" on "Concept 1" as risk concept and "Deceased" on "Concept 2" as target concept. "Concept 3" and further concept fields will be ignored here. Finally specify the plot parameters below and click on "View results".
		</description>
		<passROutput>false</passROutput>
		<passRErrors>true</passRErrors>
		<resultDescription>
			In order to interpret the results correctly, please take note of the following explanation. 
			The raw data comes from a data warehouse and so it is not collected especially for Kaplan-Meier analysis.
			As a result some data is in an impractical form and meta data of the "study" is even missing completely. So we have to make some assumptions
			to overcome this difficulties. At first we have no start or end date of the study. Having no start date isn't really an issue because it is not
			used by any computation. Contrary to this the end date is needed as the moment when censored time periods end: Censored time periods are computed
			as the time difference between the risk event e.g. a cancer diagnose and the end of the study e.g. when the patient is still alive. So we assume
			the end date as the date of the last target event (e.g. death) that occured at any patient belonging to one of the specified patient sets. 
			The consequence is the assumption that all patients were being observed the whole time until this date. This can cause noise!
			Another issue is handling censored events that do not result simply by the fact that the target event didn't occur until the end of the study: Cases
			where patients retire from the study (e.g. because of a move) or the occurence of so called competing risks. These cases are ignored as we just don't
			have such "meta study data" in the data warehouse. Last problem is dealing with multiple occurences of risk and/or target events in the raw data.
			To count as an uncensored data sample we postulate that there is at least one target event that emerges after a risk event. Otherwise we take it as 
			a censored event having the earliest occurence of a risk event as the starting point. If there are several possible risk/target event combinations, we
			take also the earliest, compute its time difference and count it as uncensored sample. So only one sample is taken per patient.
		</resultDescription>
		<plotDescription>This is the resulting Kaplan-Meier plot based on the table above:</plotDescription>
	</settings>
	<additionalInputs>
		<input>
			<name>Plot heading</name>
			<description>Text to be displayed as heading of the plot graphic</description>
			<type>text</type>
			<lines>1</lines>
		</input>
		<input>
			<name>Colorful or black-white plot graphic?</name>
			<type>dropdown</type>
			<items>
				<item>Colorful</item>
				<item>Black-white</item>
			</items>
		</input>
	</additionalInputs>
	<customOutputs>
		<output>
			<name>End of study</name>
			<description>
				The end of the study was timed to the date shown below. 
				Note that it was computed automatically: It is the date of the very last target event observed on any patient in all specified patient sets.
			</description>
		</output>
		<output>
			<name>Kaplan-Meier-input-table</name>
			<description>Following data was computed from database (0 means censored, 1 means not censored).</description>
		</output>
	</customOutputs>
</reportconf:Rscriptlet>

