<?xml version="1.0" encoding="UTF-8"?>
<girixconf:Rscriptlet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:girixconf="http://www.i2b2.org/xsd/cell/girixconf/1.0/">
	<settings>
		<title>Risk Prediction</title>
		<description>Risk Prediction with Logistic Regression. The first patient set is supposed to be our set which we want to predict our target for. The second is our model patient set</description>
		<passROutput>false</passROutput>
		<passRErrors>false</passRErrors>
		<resultDescription>This Scriplet computes the probabilities that a target concept occurs for a given patient set</resultDescription>
		<numberOfPatientSets>0</numberOfPatientSets>
		<numberOfConcepts>0</numberOfConcepts>
	</settings>
	<additionalInputs>
		<input>
			<name>Model building</name>
			<description></description>
			<type>headline</type>
		</input>
		<input>
			<name>Model Patient set</name>
			<description>Leave empty for all patients</description>
			<type>patient_set</type>
		</input>
		<input>
			<name>Feature level</name>
			<description>Choose 3 for 'ICD:M54' etc. or 4 for 'ICD:M541' etc.</description>
			<type>dropdown</type>
			<default>3</default>
			<items>
				<item>2</item>
				<item>3</item>
				<item>4</item>
			</items>
		</input>
		<input>
			<name>Model interval</name>
			<description>Interval for observations for our model patients</description>
			<type>interval</type>
			<dates>
				<date>
					<name>Start</name>
					<default>01/01/2007</default>
				</date>
				<date>
					<name>End</name>
					<default>01/01/2008</default>
				</date>
			</dates>
		</input>
		<input>
			<name>Target concept</name>
			<description>Drag and drop a concept on the field</description>
			<type>concept</type>
		</input>
		<input>
			<name>Target interval</name>
			<description>Interval for target classification of our model patients</description>
			<type>interval</type>
			<dates>
				<date>
					<name>Start</name>
					<default>01/01/2008</default>
				</date>
				<date>
					<name>End</name>
					<default>01/01/2009</default>
				</date>
			</dates>
		</input>
		<input>
			<name>Method</name>
			<description>Which method for computation should be used. WARNING: glmnet not working correctly, svm only for small patient sets</description>
			<type>dropdown</type>
			<default>speedglm</default>
			<items>
				<item>speedglm</item>
				<item>svm</item>
				<item>glmnet</item>
			</items>
		</input>
		<input>
			<name>Prediction</name>
			<description></description>
			<type>headline</type>
		</input>
		<input>
			<name>New Patient set</name>
			<description>Leave empty for all patients</description>
			<type>patient_set</type>
		</input>
		<input>
			<name>Prediction interval</name>
			<description>Interval for observations for our prediction patients</description>
			<type>interval</type>
			<dates>
				<date>
					<name>Start</name>
					<default>01/01/2010</default>
				</date>
				<date>
					<name>End</name>
					<default>01/01/2011</default>
				</date>
			</dates>
		</input>
	</additionalInputs>
	<customOutputs>
		<output>
			<name>Information</name>
			<description>Information about the prediction</description>
		</output>
		<output>
			<name>Summary</name>
			<description>Information about the prediction</description>
		</output>
		<output>
			<name>Statistics</name>
			<description>Information about the prediction</description>
		</output>
		<output>
			<name>Prediction</name>
			<description>This is your prediction</description>
		</output>
		<output>
			<name>Top coefficients</name>
			<description>These coefficients have the largest impact on our prediction</description>
		</output>
		<output>
			<name>Quality</name>
			<description></description>
		</output>
	</customOutputs>
</girixconf:Rscriptlet>

