<?xml version="1.0" encoding="UTF-8"?>
<giriconf:Rscriptlet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:giriconf="http://www.i2b2.org/xsd/cell/giriconf/1.0/">
	<settings>
		<title>Example 2: Testing R output</title>
		<description>This scriptlet is made for testing and demonstration purposes. It writes different types of R data into the 
			standard output variables and creates a plot. You need to drag and drop at least one patient set to a field but the data won't be processed by the R script. Click on "View results" to see how GIRI displays the output.</description>
		<passROutput>true</passROutput>
		<passRErrors>true</passRErrors>
		<resultDescription>Please take a look at the corresponding R script to see which output belongs to which data type.</resultDescription>
		<plotDescription>Here you can describe the plots</plotDescription>
	</settings>
</giriconf:Rscriptlet>

