/* 
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Theme title
   Author: Your name and optional url
   Description: Basic description of the theme.
*/

body
{
    -webkit-font-smoothing:antialiased;
    font:normal .8764em/1.6em Arial,Verdana,sans-serif;
}

html>body
{
    font-size:13px
}

li
{
    font-size:110%
}

li li
{
    font-size:100%
}

li p
{
    font-size:100%;
    margin:.5em 0
}

h1
{
    color:#000;
    font-size:2.2857em;
    line-height:.6563em;
    margin:.6563em 0
}

h2
{
    color:#111;
    font-size:1.7143em;
    line-height:.875em;
    margin:.875em 0
}

h3
{
    color:#111;
    font-size:1.5em;
    line-height:1em;
    margin:1em 0 0.5em 0
}

h4
{
    color:#111;
    font-size:1.2857em;
    line-height:1.1667em;
    margin:1.7667em 0 0.2em 0
}

h5
{
    color:#111;
    font-size:1.15em;
    line-height:1.3em;
    margin:1.8em 0 0.2em 0
}

h6
{
    font-size:1em;
    line-height:1.5em;
    margin:1.5em 0
}

body,p,td,div
{
    color:#111;
    font-family: /*"AvenirLTStd-Roman", */ "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    word-wrap:break-word;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6
{
    line-height:1.5em;
}

a
{
    -webkit-transition:color .2s ease-in-out;
    color:#0d6ea1;
    text-decoration:none
}

a:hover
{
    color:#3593d9
}

/*h2 em
{
    color:#111;
    padding-left:10px;
    text-shadow:0 1px 0 #FFF
}*/

blockquote p
{
  font-size:110%;
  font-style:italic;
  line-height:1.6em;
}

.footnote
{
    color:#0d6ea1;
    font-size:.8em;
    vertical-align:super
}

#wrapper img
{
    max-width:100%;
    height:auto
}

dd
{
    margin-bottom:1em
}

li > p:first-child
{
    margin:0
}

ul
{
    margin-top: 0.6em;
}
ul ul,ul ol
{
    margin-bottom:.4em
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr
{
    border-spacing:0
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table table {
  background-color: #ffffff;
}

table-condensed th,
table-condensed td {
  padding: 4px 5px;
}

table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

table th,
table td {
  border-left: 1px solid #dddddd;
}

table caption + thead tr:first-child th,
table caption + tbody tr:first-child th,
table caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

table thead:first-child tr:first-child > th:first-child,
table tbody:first-child tr:first-child > td:first-child,
table tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

table thead:first-child tr:first-child > th:last-child,
table tbody:first-child tr:first-child > td:last-child,
table tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table thead:last-child tr:last-child > th:first-child,
table tbody:last-child tr:last-child > td:first-child,
table tbody:last-child tr:last-child > th:first-child,
table tfoot:last-child tr:last-child > td:first-child,
table tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

table thead:last-child tr:last-child > th:last-child,
table tbody:last-child tr:last-child > td:last-child,
table tbody:last-child tr:last-child > th:last-child,
table tfoot:last-child tr:last-child > td:last-child,
table tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

table tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

table tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

table caption + thead tr:first-child th:first-child,
table caption + tbody tr:first-child td:first-child,
table colgroup + thead tr:first-child th:first-child,
table colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

table caption + thead tr:first-child th:last-child,
table caption + tbody tr:first-child td:last-child,
table colgroup + thead tr:first-child th:last-child,
table colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table-striped tbody > tr:nth-child(odd) > td,
table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

table-hover tbody tr:hover > td,
table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

caption
{
    display:table-caption;
    font-weight:700
}

col
{
    display:table-column
}

colgroup
{
    display:table-column-group
}


figure
{
    display:inline-block;
    margin-bottom:1.2em;
    position:relative;
    margin:1em 0
}

figcaption
{
    font-style:italic;    
    text-align:center;
    background:rgba(0,0,0,.9);
    color:rgba(255,255,255,1);
    position:absolute;
    left:0;
    bottom:-24px;
    width:98%;
    padding:1%;
    -webkit-transition:all .2s ease-in-out;
}

figure:hover>figcaption
{
    /* background:rgba(0,0,0,1) */
}

/* Styles used when "Tab-indented text is poetry" is set */
.poetry pre
{
    display:block;
    font-family:Georgia, Garamond, serif!important;
    font-size:110%!important;
    font-style:italic;
    line-height:1.6em;
    margin-left:1em;
}

.poetry pre code
{
    font-family:Georgia, Garamond, serif!important
}

/* important rules for keeping line-height from being affected by sub */
sup,sub,a.footnote
{
    font-size:1.4ex;
    height:0;
    line-height:1;
    position:relative;
}

sup {
    vertical-align:super;
}

sub {
    vertical-align: sub;
    top: -1px;
}

p,h5
{
    font-size:1.1429em;
    line-height:1.3125em;
    margin:1.3125em 0
}

dt,th
{
    font-weight:700
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd)
{
    background:rgba(255,255,255,0.06)
}

@media print {
    /* print only styles. Keep it clean */
    body
    {
        overflow:auto
    }
    img, pre, blockquote, table, figure, p {
        page-break-inside: avoid
    }
    .footnotes { page-break-before: always }

    #wrapper
    {
        background:#fff;
        color:#303030;
        font-size:100%;
        padding:58px;
        padding-top:73px;
        position:relative;
        text-indent:0
    }
}

@media screen {
    /* Screen-only styles, including inverted styles */
    .inverted #wrapper,.inverted {
        background:rgba(37, 42, 42, 1)
    }
    .inverted hr {
        border-color: rgba(51, 63, 64, 1) !important;
    }
    .inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h5,.inverted h6,.inverted pre,.inverted code,.inverted th,.inverted .math,.inverted caption,.inverted dd,.inverted dt
    {
        color:#eee!important
    }
    .inverted table tr:nth-child(odd), .inverted table th:nth-child(odd), .inverted table td:nth-child(odd) {
      background: none;
    }
    .inverted a
    {
        color:rgba(172, 209, 213, 1);
    }

    #wrapper
    {
        padding:20px
    }

    /* styles for more colorful selection highlights */
    ::selection { background:rgba(157, 193, 200,.5)}
    h1::selection { background-color:rgba(45, 156, 208, .3)}
    h2::selection { background-color:rgba(90, 182, 224, .3)}
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection,li::selection,ol::selection { background-color:rgba(133, 201, 232, .3)}
    code::selection { background-color:rgba(0,0,0,.7);color:#eee}
    code span::selection {background-color:rgba(0,0,0,.7) !important;color:#eee !important}
    a::selection { background-color:rgba(255, 230, 102,.2)}
    .inverted a::selection { background-color:rgba(255, 230, 102,.6)}
	td::selection,th::selection,caption::selection { background-color: rgba(180, 237, 95, .5);}
}

.MathJax_Display[style]{
  text-align: left !important;
}

