<?xml version="1.0" encoding="UTF-8"?>
<reportconf:Rscriptlet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:reportconf="http://www.i2b2.org/xsd/cell/reportconf/1.0/">
	<settings>
		<title>Laboratory value distributions</title>
		<description>This scriptlet distributes laboratory values of two patient sets into a fixed number of bins. Then the relative frequencies of this bins are plotted. Please drag and drop exactly two patient sets (you want to compare) onto the left fields and one laboratory value onto the right field (Choose "No value" in the popup). Then specify further parameters below and click on "View results". Please make sure that there are actually laboratory values for the chosen patient sets in the database.</description>
		<passROutput>false</passROutput>
		<passRErrors>true</passRErrors>
		<plotDescription>The resulting relative frequency distribution</plotDescription>
	</settings>
	<additionalInputs>
		<input>
			<name>Number of bins</name>
			<description>Fill in a positive integer greater 0 as the number of bins</description>
			<type>text</type>
			<lines>1</lines>
		</input>
		<input>
			<name>Name of patient set 1</name>
			<description>This name will be displayed in the plot legend</description>
			<type>text</type>
			<lines>1</lines>
		</input>
		<input>
			<name>Name of patient set 2</name>
			<description>This name will be displayed in the plot legend</description>
			<type>text</type>
			<lines>1</lines>
		</input>
		<input>
			<name>Plot label</name>
			<description>The label for the plot</description>
			<type>text</type>
			<lines>1</lines>
		</input>
	</additionalInputs>
</reportconf:Rscriptlet>

