<!--rinline knitr::read_chunk(paste0("../diagrams/", girix.input["requestOutput"], "/diagram.r")) -->
<!--begin.rcode code, fig.width=params$width, fig.height=params$height, out.width="100%"
end.rcode-->


